@import "../../utils/colors.scss";
.single{
    display: flex;
    width:100vw;
    .Container{
        flex:6;
        .singleContainer{
            display: flex;
            align-items: center;
            flex-direction:column ;
            justify-content:evenly;
            margin:2rem 1rem;
            padding:1rem;
        .top{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content:space-evenly;
            .info{
                padding: 1rem 0.5rem;
                .title{
                    font-size: 25px;
                }
                border-radius: 10%;
                display: flex;
                align-self: center;
                justify-content: center;
                border:1px solid grey;
                border-radius: 5%;
                -webkit-box-shadow: 27px 10px 59px -19px rgba(148,139,148,0.86);
                -moz-box-shadow: 27px 10px 59px -19px rgba(148,139,148,0.86);
                box-shadow: 27px 10px 59px -19px rgba(148,139,148,0.86);
                .left{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    flex:1;
                    img{
                        margin:1rem;
                        width:150px;
                        border-radius: 50%;
                        border:3px solid black;
                    }
                }
                .middle{
                    .edit-button{
                        button{
                            font-size: 15px;
                            background: none;
                            color: inherit;
                            border: none;
                            padding: 0;
                            font: inherit;
                            cursor: pointer;
                            outline: inherit;
                        }
                        align-self: flex-end;
                        justify-self: start;
                        background-color: black;
                        color: whitesmoke;
                        padding:3px;
                       border-radius: 10%;

                    }
                       
                    padding:0;
                    flex:1;
                    display: flex;
                    flex-direction: column;
                    align-items:start;
                    justify-content:space-around;
                    span{
                        .icon{
                            margin-right: 20px;
                        }
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0.6rem;
    
                    }
                    
            }
            

            }
            .right{
               width: 100%;
               height: 100%;
                
            }
    }
    .bottom{
        margin-top:2rem;
        width: 100%;
        .tablediv{
            width: 100% !important;
        }
    }
}
}
}